.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.5rem 1rem 2rem 1rem; */
    padding: 1rem;
    color: gray;
}

.search-nav {
    position: inherit;
    width: 30%;
}

.search-nav input {
    position: relative;    
    width: 100%;
    padding: 0.7rem 0.8rem;
    border-radius: 2rem;
    border: solid 1px gray;
    font-size: var(--fontsize-normal);
    outline-color: var(--secondary-color);
}

.suggestions {
    position: absolute;
    background-color: #f5f5f5;
    margin-top: 0.5rem;
    border-radius: 4px;
    width: inherit;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.suggested {
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.suggested:hover {
    background-color: rgb(235, 235, 235);
}

.add-task {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.add-task:hover {
    color: var(--secondary-color);
}

.help {
    color: var(--secondary-color);
}

.notif-bell {
    position: relative;
    padding: 0.3rem;
    transition: transform 0.5 ease-in-out;
}

.notif-icon {
    color: var(--secondary-color);
}

.notif-bell:hover {
    transform: rotate(10deg);
}

.notif-bell div {
    position: absolute;
    display: flex;
    top: 4%;    
    left: 1.1rem;    
    background-color: red;    
    border-radius: 50%;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
}

.notif-bell div article {
    color: white;
    font-size: 0.8rem;
}

.settings {
    transition: transform 0.5 ease-in-out;
    color: var(--secondary-color);
}

.settings:hover {
    transform: rotate(90deg);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.logout {
    cursor: pointer;
    border: solid 1px #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    transition: color 0.3s;
    /* border: solid 1px var(--secondary-color); */
    color: var(--secondary-color);
    background-color: var(--background);
    border: solid 1px var(--background);
}

.logout:hover {
    border: solid 1px var(--secondary-color);
    color: var(--secondary-color);
}

.profile div {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.profile div img {
    width: 2.5rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    border: solid 1px gray;
}

.profile-info {
    gap: 0.5rem;
    cursor: pointer;
}