.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 2rem 1rem;
}

.search-nav {
    position: inherit;
    width: 30%;
}

.search-nav input {
    position: relative;    
    width: 100%;
    padding: 0.6rem 0.8rem;
    border-radius: 2rem;
    border: solid 1px gray;
    font-size: var(--fontsize-normal);
    outline: none;
    color: gray;
}

.add-task {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.notif-bell {
    position: relative;
    padding: 0.3rem;
    transition: transform 0.5 ease-in-out;
}

.notif-bell:hover {
    transform: rotate(10deg);
}

.notif-bell div {
    position: absolute;
    display: flex;
    top: 0rem;    
    left: 1.1rem;    
    background-color: red;    
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.notif-bell div article {
    color: white;
    font-size: 0.8rem;
}

.settings {
    transition: transform 0.5 ease-in-out;
}

.settings:hover {
    transform: rotate(90deg);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.profile div {
    display: flex;
    align-items: center;
}

.profile div img {
    width: 2.5rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    border: solid 1px;
}

.profile-info {
    gap: 0.5rem;
    cursor: pointer;
}