nav {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.nav-content {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}


.nav-content li:hover {
    cursor: pointer;
}

.nav-content li:hover {
    color: var(--primary-color);
    

    transition: 0.5s;
}

.nav-actions {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.nav-actions button {
    border: none;
    font-size: var(--fontsize-normal);    
    border-radius: 8px;
}

.nav-actions button:nth-child(1) {
    background-color: var(--primary-color);
    color: #fff;
}