footer {
    width: 83.33%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
footer nav {
    display: flex;
    align-items: flex-start;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
}

footer ul a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #131212;
}

footer p {
    font-size: 1.125rem;
    font-weight: 600;
}