* {
  --fontsize-normal:1.1rem;
  --primary-color:#0360d1;
  --secondary-color:#a7caff;
  --complementary:#eb7100;
  --text-color:rgb(56, 56, 56);
}

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  font-size: var(--fontsize-normal);
  color: var(--text-color);
  letter-spacing: 0.3px;
}

body {
  padding: 0;
  margin: 0;
}

button {
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  font-size: var(--fontsize-normal);
  width: fit-content;
}

h1 {
  margin: 0;
  padding: 0;
}