.bid-container {
    position: relative;    
}

.freelancer-container {
    height: 75vh;
    overflow-x: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.freelancer {
    position: relative;
    background-color: var(--background);
    padding: 0.5rem;
    border-radius: 4px;
    width: 25dvw;
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.freelancer-container-left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.freelancer-elements {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
}

.freelancer-elements article:nth-child(2){
    color: var(--secondary-color);
}

.bid-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.chat-icon * {
    color: var(--secondary-color);
}

.bid-actions article {
    color: var(--secondary-color);
}

.bid-actions button {
    width: 7rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    color: #fff;
}